:root {
    /*COLORES*/
    --color-text: #000;
    --color-primary: #d5e247;
    --color-secundary: #FFFFFF;
    --color-dark:  #4F4F4F;
    --color-bg: #51A965;
   
    /*FUENTES*/
    --font-roboto: "Roboto";
}